
<!DOCTYPE html>
<html lang="zxx">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
	<meta name="author" content="themefisher.com">

	<title>@ViewData["Title"]</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico" />

	<!-- bootstrap.min css -->
	<link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap.min.css">
	<!-- Icon Font Css -->
	<link rel="stylesheet" href="~/plugins/icofont/icofont.min.css">
	<!-- Slick Slider  CSS -->
	<link rel="stylesheet" href="~/plugins/slick-carousel/slick/slick.css">
	<link rel="stylesheet" href="~/plugins/slick-carousel/slick/slick-theme.css">

	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="~/css/style.css">

</head>

<body id="top">

	<header>
		<div class="header-top-bar">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<ul class="top-bar-info list-inline-item pl-0 mb-0">
							<li class="list-inline-item"><a href="mailto:support@gmail.com"><i class="icofont-support-faq mr-2"></i>support@novena.com</a></li>
							<li class="list-inline-item"><i class="icofont-location-pin mr-2"></i>Address Ta-134/A, Surat, INDIA </li>
						</ul>
					</div>
					<div class="col-lg-6">
						<div class="text-lg-right top-right-bar mt-2 mt-lg-0">
							<a href="tel:+23-345-67890">
								<span>Call Now : </span>
								<span class="h4">823-4565-13456</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navigation" id="navbar">
			<div class="container">
				<a class="navbar-brand" href="index.html">
					<img src="~/images/logo.png" alt="" class="img-fluid">
				</a>

				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icofont-navigation-menu"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarmain">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item @(ViewData["Title"]?.ToString() == "Home" ? "active" : "")">
							<a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
						</li>

						<li class="nav-item @(ViewData["Title"]?.ToString() == "About" ? "active" : "")">
							<a class="nav-link" asp-controller="Home" asp-action="About">About</a>
						</li>
						<li class="nav-item @(ViewData["Title"]?.ToString() == "Services" ? "active" : "")">
							<a class="nav-link" asp-controller="Home" asp-action="Service">Services</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Department <i class="icofont-thin-down"></i>
							</a>
							<ul class="dropdown-menu" aria-labelledby="dropdown02">
								<li><a class="dropdown-item" asp-controller="Department" asp-action="Index">Departments</a></li>
								<li><a class="dropdown-item" asp-controller="Department" asp-action="Details" asp-route-id="1">Department Single</a></li>
							</ul>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="doctor.html" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Doctors <i class="icofont-thin-down"></i></a>
							<ul class="dropdown-menu" aria-labelledby="dropdown03">
								<li><a class="dropdown-item" asp-controller="Department" asp-action="Doctor">Doctors</a></li>
								<li><a class="dropdown-item" asp-controller="Department" asp-action="DoctorSingle" asp-route-id="1">Doctor Single</a></li>
								<li><a class="dropdown-item" asp-controller="Department" asp-action="Appointment">Appointment</a></li>
							</ul>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Blog <i class="icofont-thin-down"></i>
							</a>
							<ul class="dropdown-menu" aria-labelledby="dropdown05">
								<li>
									<a class="dropdown-item" asp-controller="Department" asp-action="Sidebar">
										Blog with Sidebar
									</a>
								</li>
								<li>
									<a class="dropdown-item" asp-controller="Department" asp-action="Single" asp-route-id="1">
										Blog Single
									</a>
								</li>
							</ul>
						</li>

						<li class="nav-item @(ViewData["Title"]?.ToString() == "Contact" ? "active" : "")">
							<a class="nav-link" asp-controller="Home" asp-action="Contact">Contact</a>
						</li>

						@using System.Security.Claims
						@inject HospitalManagement.Data.ApplicationDbContext _context

						@{
							var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
							bool isAdmin = false;
							// string userName = "User";
							string userImage = "~/uploads/user.png"; // Default image path (you can customize this)

							if (User.Identity.IsAuthenticated && userId != null)
							{
								var user = _context.Users.FirstOrDefault(u => u.Id == userId);
								// userName = user?.Name ?? "User";
								userImage = string.IsNullOrEmpty(user?.Image) ? "/uploads/user.png" : "/uploads/" + user.Image;

								var roleName = _context.Roles
								.Where(r => r.Id == user.RoleId)
								.Select(r => r.Name)
								.FirstOrDefault();

								isAdmin = (roleName == "Admin");
							}
						}

						<!-- Login or Username -->
						@if (User.Identity.IsAuthenticated)
						{
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown">
									<img src="@userImage" alt="User Image" class="rounded-circle me-2" style="width: 32px; height: 32px; object-fit: cover;">
									@* <span>@userName</span> *@
								</a>

								<ul class="dropdown-menu">
									@if (isAdmin)
									{
										<li>
											<a class="dropdown-item" asp-controller="Dashboard" asp-action="Index">
												Admin Panel
											</a>
										</li>
									}
									<li class="nav-item @(ViewData["Title"]?.ToString() == "Logout" ? "active" : "")">
										<form asp-area="Identity" asp-page="/Account/Logout" method="post" class="dropdown-item m-0 p-0">
											<button type="submit" class="btn btn-link dropdown-item">Logout</button>
										</form>
									</li>
								</ul>
							</li>
						}
						else
						{
							<!-- Login Link if not logged in -->
							<li class="nav-item @(ViewData["Title"]?.ToString() == "Login" ? "active" : "")">
								<a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
									Login
								</a>
							</li>
						}
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<main>
		@RenderBody()
	</main>

	<!-- footer Start -->
	<footer class="footer section gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 mr-auto col-sm-6">
					<div class="widget mb-5 mb-lg-0">
						<div class="logo mb-4">
							<img src="images/logo.png" alt="" class="img-fluid">
						</div>
						<p>Tempora dolorem voluptatum nam vero assumenda voluptate, facilis ad eos obcaecati tenetur veritatis eveniet distinctio possimus.</p>

						<ul class="list-inline footer-socials mt-4">
							<li class="list-inline-item"><a href="https://www.facebook.com/themefisher"><i class="icofont-facebook"></i></a></li>
							<li class="list-inline-item"><a href="https://twitter.com/themefisher"><i class="icofont-twitter"></i></a></li>
							<li class="list-inline-item"><a href="https://www.pinterest.com/themefisher/"><i class="icofont-linkedin"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="widget mb-5 mb-lg-0">
						<h4 class="text-capitalize mb-3">Department</h4>
						<div class="divider mb-4"></div>

						<ul class="list-unstyled footer-menu lh-35">
							<li><a href="#">Surgery </a></li>
							<li><a href="#">Wome's Health</a></li>
							<li><a href="#">Radiology</a></li>
							<li><a href="#">Cardioc</a></li>
							<li><a href="#">Medicine</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="widget mb-5 mb-lg-0">
						<h4 class="text-capitalize mb-3">Support</h4>
						<div class="divider mb-4"></div>

						<ul class="list-unstyled footer-menu lh-35">
							<li><a href="#">Terms & Conditions</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Company Support </a></li>
							<li><a href="#">FAQuestions</a></li>
							<li><a href="#">Company Licence</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="widget widget-contact mb-5 mb-lg-0">
						<h4 class="text-capitalize mb-3">Get in Touch</h4>
						<div class="divider mb-4"></div>

						<div class="footer-contact-block mb-4">
							<div class="icon d-flex align-items-center">
								<i class="icofont-email mr-3"></i>
								<span class="h6 mb-0">Support Available for 24/7</span>
							</div>
							<h4 class="mt-2"><a href="tel:+23-345-67890">Support@email.com</a></h4>
						</div>

						<div class="footer-contact-block">
							<div class="icon d-flex align-items-center">
								<i class="icofont-support mr-3"></i>
								<span class="h6 mb-0">Mon to Fri : 08:30 - 18:00</span>
							</div>
							<h4 class="mt-2"><a href="tel:+23-345-67890">+23-456-6588</a></h4>
						</div>
					</div>
				</div>
			</div>

			<div class="footer-btm py-4 mt-5">
				<div class="row align-items-center justify-content-between">
					<div class="col-lg-6">
						<div class="copyright">
							&copy; Copyright Reserved to <span class="text-color">Novena</span> by <a href="https://themefisher.com/" target="_blank">Themefisher</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="subscribe-form text-lg-right mt-5 mt-lg-0">
							<form action="#" class="subscribe">
								<input type="text" class="form-control" placeholder="Your Email address">
								<a href="#" class="btn btn-main-2 btn-round-full">Subscribe</a>
							</form>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-4">
						<a class="backtop js-scroll-trigger" href="#top">
							<i class="icofont-long-arrow-up"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!--
	Essential Scripts
	=====================================-->
	<!-- Main jQuery -->
	<script src="~/plugins/jquery/jquery.js"></script>
	<!-- Bootstrap 4.3.2 -->
	<script src="~/plugins/bootstrap/js/popper.js"></script>
	<script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/plugins/counterup/jquery.easing.js"></script>
	<!-- Slick Slider -->
	<script src="~/plugins/slick-carousel/slick/slick.min.js"></script>
	<!-- Counterup -->
	<script src="~/plugins/counterup/jquery.waypoints.min.js"></script>

	<script src="~/plugins/shuffle/shuffle.min.js"></script>
	<script src="~/plugins/counterup/jquery.counterup.min.js"></script>
	<!-- Google Map -->
	<script src="~/plugins/google-map/map.js"></script>

	<script src="~/js/script.js"></script>
	<script src="~/js/contact.js"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
